<footer class="footer">
  <div class="footer-container">
    <div class="footer-contacts">
      <p>Санкт-Петербург ул.Бронницкая<br>д.40 пом 1001<br>
        <a href="tel:+79956061706">+7 (995) 606 17 06</a><br>
        Контактный email: <a href="mailto:infoAKbrend@mail.ru">infoAKbrend&#64;mail.ru</a>
      </p>
    </div>
    <div class="footer-content">
    <ul class="footer-links">
      <li><a [routerLink]="'/houses'">Главная</a></li>
      <li><a [routerLink]="'/confidentiality'">Политика конфиденциальности</a></li>
    </ul>
    <div class="footer-socials">
      <a href="#"><img ngSrc="assets/images/tg.png" alt="Telegram" height="140" width="140" /></a>
      <a href="#"><img ngSrc="assets/images/viber.png" alt="Viber" height="140" width="140" /></a>
      <a href="#"><img ngSrc="assets/images/whatsapp.png" alt="WhatsApp" height="140" width="140" /></a>
    </div>
    </div>
  </div>
</footer>

