<div class="confidentiality">
  <p>Данная Политика конфиденциальности определяет порядок сбора, хранения, применения, раскрытия и
    передачи информации, которую торговая марка «AKBREND» (далее КОМПАНИЯ) получает от пользователей и клиентов
    ресурса (далее ПОЛЬЗОВАТЕЛЬ) https://akbrend.ru/ (далее — САЙТ). Представленная Политика
    конфиденциальности распространяется на все сопутствующие ресурсы, поддомены, продукты, сервисы и услуги КОМПАНИИ.</p>
  <h2>Общие положения</h2>
  <p>Использование ПОЛЬЗОВАТЕЛЕМ САЙТА означает согласие с настоящей Политикой конфиденциальности и условиями обработки
    персональных данных ПОЛЬЗОВАТЕЛЯ. В случае несогласия с условиями Политики конфиденциальности ПОЛЬЗОВАТЕЛЬ должен
    прекратить использование САЙТА.</p>
  <p>Представленная Политика конфиденциальности касается только настоящего САЙТА
  и информационные данные, которые добровольно предоставляют ПОЛЬЗОВАТЕЛИ. Ее действие не распространяется на сторонние
  ресурсы, в том числе, те, на которых упоминается САЙТ или на которых содержатся прямые ссылки на САЙТ. КОМПАНИЯ не
  проверяет достоверность персональных данных, предоставляемых ПОЛЬЗОВАТЕЛЕМ.</p>
  <h2>Персональная информация ПОЛЬЗОВАТЕЛЕЙ, которую обрабатывает КОМПАНИЯ</h2>
  <p>При посещении САЙТА автоматически определяется Ваш IP адрес, имя домена, страну регистрации IP. Также нами
    фиксируется факты перехода по страницам САЙТА, прочую информацию, которую Ваш браузер предоставляет открыто
    и добровольно. Данные сведения помогают существенно упростить пользование САЙТОМ, сделать поиск нужных или
    интересных для Вас материалов намного быстрее и комфортнее.</p>
  <p>На САЙТЕ реализована стандартная технология персональной настройки стилей отображения страниц и размещенного на
    них контента под параметры конкретно Вашего монитора «cookies». «Куки» — это сохраняющиеся на жестком диске данные
    о посещаемых веб-сайтах, пользовательских настройках, персональных настройках режима просмотра контента.
    Реализованная на САЙТЕ технология «cookies» предоставляет информацию о том, с какого стороннего ресурса был выполнен
    переход на Сайт, имени домена Вашего провайдера, страны посетителя, данные о загруженных материалах с САЙТА. Данная
    технология используется и браузерными счетчиками компаний Yandex, Google.</p>
  <p>«Сookies» не собирает личной или конфиденциальной информации о пользователе, данную технологию можно заблокировать
    при персональной работе с САЙТОМ, используя настройки Вашего браузера или поставить обязательное уведомление о
    посылке «куки».</p>
  <p>На САЙТЕ реализована стандартная технология подсчета количества посетителей и просмотров страниц, оценки
    технических возможностей хост-сервиров, рейтингов, посещаемости сторонних организаций. Данная информация
    позволяет нам вести учет активности посетителей, актуальности представленного контента, его востребованности,
    составлять характеристику посещаемой аудитории. Также подобный сбор данных помогает нам располагать страницы и
    материал наиболее удобным для пользователей образом, обеспечивать эффективное взаимодействие и безупречную работу
    с браузерами посетителей.</p>
  <p>Мы фиксируем информацию о перемещениях по САЙТУ, просматриваемых страницах в общем, а не персональном порядке.
    Никакие личные или индивидуальные данные без разрешения пользователей КОМПАНИЯ не будет использовать или передавать
    третьим лицам.</p>
  <p>Любая персональная информация, в том числе идентификационная, предоставляется пользователями САЙТА исключительно
    добровольно. Все данные, которые Вы оставляете на САЙТЕ собственноручно при регистрации, в ходе заполнения форм
    (ФИО, контактный телефон) сохраняются в тайне и не разглашаются. Каждый посетитель САЙТА в праве отказать от
    предоставления любой персональной информации и посещать ресурс на условиях абсолютной анонимности, кроме случаев,
    когда данные действия могут помешать корректному пользованию пользоваться отдельными функциями или возможностями САЙТА.</p>
  <h2>Меры, применяемые для защиты персональной информации ПОЛЬЗОВАТЕЛЯ</h2>
  <p>КОМПАНИЯ принимает необходимые и достаточные организационные и технические меры для защиты персональной информации
    ПОЛЬЗОВАТЕЛЯ от неправомерного или случайного доступа, уничтожения, изменения, блокирования, копирования,
    распространения, а также от иных неправомерных действий с ней третьих лиц.</p>
  <h2>Изменение Политики конфиденциальности</h2>
  <p>КОМПАНИЯ оставляет за собой право менять или корректировать правила и условия Политики конфиденциальности без
    уведомления пользователя САЙТА.</p>
  <p>Используя данный САЙТ, Вы соглашаетесь с вышеописанными правилами и условиями,
  а также берете на себя ответственность за периодическое ознакомление с нововведениями и изменениями в Политике
  конфиденциальности.</p>
  <h2>Отказ от ответственности</h2>
  <p>САЙТ не берет на себя ответственность за действия других сайтов и ресурсов, третьих лиц и сторонних посетителей.</p>
  <h2>Обратная связь</h2>
  <p>Все предложения или вопросы относительно Политики конфиденциальности САЙТА КОМПАНИИ ПОЛЬЗОВАТЕЛЬ вправе сообщать
    по нижеуказанным контактам:</p>
  <p>Санкт-Петербург, ул.Бронницкая, д.40, пом 1001
    Телефон: +7 (995) 606 17 06
    Email: infoAKbrend&#64;mail.ru</p>
</div>
