.movies{
 padding: 0;
 margin-bottom: 1rem;
 background-color: #aeb0b2;

 h2 {
  margin-bottom: .5rem;
 }

  .image-overlay-container {
    position: relative; /* Устанавливает контейнер как "относительный" для наложения */
    width: 100%; /* Задайте ширину контейнера */
    height: auto; /* Или фиксированную высоту в пикселях, например, 400px */
  }

  .top-background-image {
    width: 100%;
    height: auto;
  }

  .top-background-image img{
    border-radius: 25px; /* Закруглённые углы */
  }

  .top-overlay-image {
    position: absolute; /* Абсолютное позиционирование внутри контейнера */
    top: 50%; /* Сдвиг по вертикали */
    left: 50%; /* Сдвиг по горизонтали */
    transform: translate(30%, -24%); /* Центрирует наложенное изображение */
    width: 20%; /* Укажите размеры наложенного изображения */
    height: auto;
    opacity: 1; /* Регулировка прозрачности наложенного изображения (по желанию) */
  }

  .overlay-content {
    display: flex;
    flex-direction: column;
    position: absolute; /* Абсолютное позиционирование для всего содержимого */
    top: 50%;
    left: 50%;
    transform: translate(-100%, -30%);
    text-align: left; /* Центрирование текста и кнопки */
  }

  .top-overlay-text {
    color: white;
    font-size: 2.5rem;
    font-weight: bold;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
    margin-bottom: 15px; /* Отступ для кнопки */
  }

  .top2-overlay-text {
    color: white;
    font-size: 2rem;
    font-weight: bold;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
    margin-bottom: 15px; /* Отступ для кнопки */
  }

  .top3-overlay-text {
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
    margin-bottom: 15px; /* Отступ для кнопки */
  }

  .top4-overlay-text {
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
    margin-bottom: 15px; /* Отступ для кнопки */
  }

  .top5-overlay-text {
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
    margin-bottom: 15px; /* Отступ для кнопки */
  }

  .overlay-button {
    background-color: #4285b4; /* Белый цвет кнопки */
    color: white;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s, transform 0.3s; /* Анимация */
  }

  .overlay-button:hover {
    transform: scale(1.05); /* Увеличение кнопки на 5% */
  }

  nav ul {
    display: flex; /* Горизонтальное размещение списка */
    justify-content: space-around;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .custom-button {
    align-items: center; /* Выравниваем элементы по вертикали */
    width: 100%; /* Ширина кнопки */
    height: 100%; /* Высота кнопки */
    border: none; /* Убираем рамку */
    background-color: #aeb0b2; /* Цвет фона кнопки */
    color: white; /* Цвет текста */
    font-size: 1rem; /* Размер текста */
    cursor: pointer; /* Изменение курсора при наведении */
    overflow: hidden; /* Скрываем всё лишнее за границами кнопки */
    border-radius: 25px; /* Закруглённые углы */
    transition: background-color 0.3s, transform 0.3s; /* Анимация */
  }

  .custom-button:hover {
    background-color: #aeb0b2; /* Цвет кнопки при наведении */
    transform: scale(1.05); /* Увеличение кнопки на 5% */
  }

  .button-image {
    width: 100%; /* Полная Ширина  */
    height: 50%; /* Высота половины кнопки для изображения */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #aeb0b2; /* Цвет фона для части с изображением */
  }

  .button-image img {
    max-width: 80%; /* Ограничиваем размер изображения */
    max-height: 80%; /* Чтобы изображение не выходило за пределы */
    border-radius: 25px; /* Закруглённые углы */
  }

  .button-text {
    height: 50%; /* Ширина половины кнопки для текста */
    text-align: center;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
  }

  p {
    text-align: left;
  }
}
